!!! 5
html
    head
        title Using MP4 to store changes to a web page over time.
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="http://popcornjs.org/code/dist/popcorn-complete.min.js")
        script(src="show.js")
    body
        select
        hr
        video(height="4000", width="949", id="video")
            source(src="bbc.mp4")